# Prefer binary distributions over source builds
build-from-source=false

# Configure node-pre-gyp to use GitHub releases
naudiodon2_binary_host_mirror=https://github.com/Misterr-H/naudiodon2/releases/download/v2.4.4/ 